<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DYLD_INSERT_LIBRARIES</key>
		<string>{user_dir}/instruments-without-delay/build/DTMobileISShim.dylib</string>
		<key>LIB_PATH</key>
		<string>{user_dir}/instruments-without-delay/build</string>
	</dict>
	<key>JetsamProperties</key>
	<dict>
		<key>JetsamMemoryLimit</key>
		<integer>0</integer>
	</dict>
	<key>Label</key>
	<string>com.apple.instruments.deviceservice</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.instruments.deviceservice.lockdown</key>
		<true/>
		<key>com.apple.instruments.deviceservice.xpc</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>Program</key>
	<string>/Developer/Library/PrivateFrameworks/DVTInstrumentsFoundation.framework/DTServiceHub</string>
</dict>
</plist>
